
header {
    overflow: hidden;
}
header img {
    height:  56px;
}
.logo {
    float: left;
}
ul li {
    float: left;
}
header nav {
    float: right;
    overflow: hidden;
}
.clearfix {
    clear: both;
}
section {
    overflow: hidden;
}
.section1 img {
    float: right;
    width: 451px;
}
.section1 button {
    float: left;
}
.section2 select {
    float: right;
}
.section3 {
    float: left;
}
.section4 div {
    float: left;
}
.container {
    position: relative;
}
.section5 div {
    float: left;
    width: 400px;
}
.section6 img {
    float: right;
}
.section6 ul li {
    float: none;
}
.section7 div {
    float: left;
    width: 300px;
}
footer img {
    float: left;
    border: solid 3px sandybrown;
}
.anchor {
    float: right;
}
footer p {
    float: left;
}
footer {
    overflow: hidden;
}
